// Background-colors
$bg-red: red;
$bg-yellow: yellow;
$bg-tomato: tomato;
@mixin createDivs {
    width: 300px;
    height: 500px;
}

@function colorsDiv($param) {
    $color: ();
    @if $param==tomato {
        $color: tomato;
    }
    @else {
        $color: black;
    }
    @return $color;
}